.DS_Store
node_modules
/dist
/out
/extensions
/control-ui
/docs
/src/acp
/src/agents
/src/auto-reply
/src/browser
/src/canvas-host
/src/channels
/src/cli
/src/commands
/src/config
/src/cron
/src/daemon
/src/discord
/src/docs
/src/feishu
/src/gateway/protocol
/src/gateway/server-methods
/src/hooks
/src/imessage
/src/infra
/src/line
/src/link-understanding
/src/logging
/src/macos
/src/markdown
/src/media
/src/media-understanding
/src/memory
/src/node-host
/src/pairing
/src/plugin-sdk
/src/plugins
/src/process
/src/providers
/src/routing
/src/security
/src/sessions
/src/shared
/src/signal
/src/slack
/src/telegram
/src/terminal
/src/tts
/src/tui
/src/types
/src/utils
/src/web
/src/wecom
/src/whatsapp
/src/wizard
/src/channel-web.ts
/src/entry.ts
/src/globals.ts
/src/index.ts
/src/logger.ts
/src/logging.ts
/src/polls.ts
/src/runtime.ts
/src/utils.ts
/src/version.ts
/release
*.log
